.card-container{
    display: flex;
    width: 100vw;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    display: flex;
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-info{
    width: 100px;
    height: 180px;
    background-color: #ccc;
    border: 1px solid #666;
    border-radius: 4px;
    display: block;
}

.img{
width: 100px;
max-height: 150px;
}