.card-container{
    display: flex;
    width: 100vw;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.card{
    width: 300px;
    height: 380px;
    background-color: #ccc;
    border: 1px solid #666;
    border-radius: 4px;
}

.img{
width: 300px;
max-height: 250px;
}